<div class="container-fluid" *ngIf="this.loadedData == true && this.SessionDataService.role =='Admin'">
  <mdb-card>
    <mdb-card-body>
      <div class="row">
        <div class="col-12">
            <h1 class="title">Child Manager</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Birth</th>
                  <th scope="col">Naughty/Nice</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let currentUser of userData;let i = index">
                  <th scope="row">{{currentUser.FirstName}}</th>
                  <td>{{currentUser.LastName}}</td>
                  <td>
                    {{currentUser.Street}} {{currentUser.City}} {{currentUser.Province}} {{currentUser.PostalCode}} {{currentUser.Country}}
                  </td>
                  <td>
                    {{currentUser.Latitude}}
                  </td>
                  <td>
                    {{currentUser.Longitude}}
                  </td>
                  <td>
                    {{currentUser.BirthDate}}
                  </td>
                  <td class="textCenter">
                    <div class="redText" *ngIf="currentUser.IsNaughty == true"><i class="fa fa-frown-o"></i> Naughty</div> 
                    <div class="greenText" *ngIf="currentUser.IsNaughty == false"> <i class="fa fa-smile-o"></i> Nice</div> 
                  </td>
                  <td><div id="editChildData{{i}}" class="editUser" (click)="selectChildData($event)"><i class="fa fa-pencil fa-fw"></i> Edit Child</div></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>