.nopadding {
    padding:0;
    margin:0;
}

.deleteFrame {
    border-color:red;
    border-width:5px;
    border-style:solid;
}

.naughtyFrame {
    border-color:#33b5e5;
    border-width:5px;
    border-style:solid;
}

.naughtyStatusNice {
    color:green;
    text-align:center;
}

.naughtyStatusNaughty {
    color:red;
    text-align:center;
}

.textAlignCenter {
    text-align:center;
}

agm-map {
    height: 300px;
}