.navbarBox {
    background-color:green;
}

.logo {
    margin-top:12.5px;
    height:75px;
    width:75px;
}

.logoTitle {
    font-family: "Times New Roman", Times, serif;
    margin-top:25px;
    font-size:30px;
    font-weight:bold;
    margin-left:10px;
    color:red;
}

.navItem {
    margin-top:25px;
    font-size:30px;
    font-weight:bold;
    color:red;
    margin-left:10px;
    cursor: pointer;
}

.link {
    color:red;
}