<div class="container-fluid navbarBox">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img class="logo pull-left" src="../../assets/Images//santa-claus_parade.png"><div class="logoTitle pull-left">Santa's List</div>
      </div>
      <div class="col-6">
        <div class="navItem pull-left">
          <a class="link" href="#">Home</a> 
        </div>
        <div class="navItem pull-left">
          <a class="link" href="#/register">Register</a> 
          </div>
        <div class="navItem pull-left">
          <a class="link" href="#/login">Login</a> 
        </div>
      </div>
    </div>
  </div>
</div>