<app-navbar></app-navbar>
<div *ngIf="this.SessionDataService.loggedIn == true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="">
                    <h3 class="userNavHeader">Dashboard</h3>
                </div>
                <div class="UserNav">
                    <div class="adminNav" *ngIf="this.SessionDataService.role == 'Admin'">
                        <h3 (click)="setManageChildrenDash()">Manage Children</h3> 
                    </div>
                    <h3 (click)="setUserSettingDash()">User Settings</h3>
                </div>
            </div>
            <div class="col-9">
                <div *ngIf="this.DashrouteService.currentDashroute == 'usersettings'">
                    <app-user-settings></app-user-settings>
                </div>
                <div *ngIf="this.DashrouteService.currentDashroute == 'managechildren'">
                    <app-manage-children></app-manage-children>
                </div>
                <div *ngIf="this.DashrouteService.currentDashroute == 'editUser'">
                    <app-edit-child></app-edit-child>
                </div>
                
            </div>
        </div>
    </div>
</div>
