.login {
    text-align:center;
}

.leftBox {
    text-align:left;
}

.marginTop20 {
    margin-top:100px;
}

.fontSize {
    font-size:20px;
}

.textCenter {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:100%;
}

.loginBox {
    min-height: 500px;
}

.rowSpace {
    margin-top:50px;
}

.seal {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:100px;
    width:100px;
}
